<%= form_for(@position) do |f| %>
  <%= f.label "Name", for: :name %>
  <%= f.text_field :name %>

  <h1>Positions</h1>

  <ul>
  <% @transitions.each do |t| %>
    <li><%=t.to.name%></li>
  <% end %>
  </ul>

  <ul>
    <% @positions.each do |position| %>
        <li>
          <input type="checkbox" name="transitions[][to]" value="<%= position.id %>" />
          <%= link_to(position.name, edit_position_path(position.id)) %>
        </li>
    <% end %>
  </ul>

  <%= f.submit %>
<% end %>

