<div class="container" >
  <h3>Flow From
    <%= link_to @transition.from.name, edit_position_path(@transition.from) %> to
    <%= link_to @transition.to.name, edit_position_path(@transition.to) %></h3>

  <h4>Description<h4>
    <%= form_for @transition do |f| %>
      <%= f.text_area :description %>
      <%= f.submit %>
    <% end %>
</div>
